input[type=range] {
  -webkit-appearance: none;
  margin: 5px 0;
  width: 100%;
  cursor: url('../res/icon/cursor_pointer.png'), pointer;
}
input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: url('../res/icon/cursor_pointer.png'), pointer;
  animate: 0.2s;
  background: #00ff80;
}
input[type=range]:disabled::-webkit-slider-runnable-track {
  background: #007a3d;
}
input[type=range]::-webkit-slider-thumb {
  border: 1px solid #002200;
  height: 15px;
  width: 10px;
  border-radius: 3px;
  background: #00ff80;
  cursor: url('../res/icon/cursor_pointer.png'), pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}
input[type=range]:disabled::-webkit-slider-thumb {
    background: #007a3d;
}


input[type=range]::-moz-range-track {
  width: 100%;
  height: 4px;
  cursor: url('../res/icon/cursor_pointer.png'), pointer;
  animate: 0.2s;
  background: #00ff80;
}
input[type=range]:disabled::-moz-range-track {
    background: #007a3d;
}
input[type=range]::-moz-range-thumb {
  border: 1px solid #002200;
  height: 15px;
  width: 10px;
  border-radius: 3px;
  background: #00ff80;
  cursor: url('../res/icon/cursor_pointer.png'), pointer;
}
input[type=range]:disabled::-moz-range-thumb{
     background: #007a3d; 
}