@font-face {
    font-family: 'Digital';
    src: url('../res/font/DJB Get Digital.ttf');
}


/* Main Menu style */


h1 {
    font-size: 5em;
}

a {
    border: solid 1px #00ff80;
    padding: 5px 42px;  /* 42!*/
    width: 5%;
    cursor: url('../res/icon/cursor_pointer.png'), pointer;
}

a:hover {
    background: #00ff80;
    color: #002200;
}

#overlay {
    z-index: 1000;
    pointer-events: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-image: url('../res/img/scanLines.png');
    /*background-image: url('../res/icon/bot.png');*/
    background-size: 100% 100%;
    opacity: 0.5;


    animation:  scroll 20s steps(1000) infinite;

}
#overlay2 {
    z-index: 1000;
    pointer-events: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-image: url('../res/img/vignetting.png');
    background-size: 100% 100%;
    opacity: 0.3;
}


@keyframes scroll {
    0% { background-position-y: 0px; }
    100% { background-position-y: -1080px; }
}


#mainMenu {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    text-align: center;
}

#progressLoad {
    position: absolute;
    border: solid 2px #00ff80;
    height: 5%;

    left: 20%;
    right: 20%;
    bottom: 10%;
}

#progressLoad #content {
    background: #00ff80;
    transition: 1s;
    height: 100%;
    width: 0%
}

#spinner {
    margin-top: 20%;
    width: 10%;
    -webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
}

#credits {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    text-align: center;
    font-size: 1.5em;
}

#credits h2 {
    margin-top: 5%;
}

#credits img {
    position: absolute;
    bottom: 1%;
    right: 1%;
}

#instructions {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    text-align: center;
    margin-top: 2%;
}

#instructions .content {
    line-height: 1.5em;
    font-size: 1.2em;
    text-align: left;
    padding: 5% 20%;
}

#version {
    position: absolute;
    right: 4%;
    bottom: 4%;
    z-index: 200;
}

#logoZone {
    position: absolute;
    bottom: 20%;
    left: 25%;
    right: 25%;
}

#logo {
    width: 10%;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

ul.noStyle {
    list-style: none;
    padding: 0px;
}

ul.spaced li{
    padding: 2% 0;
}

.hide {
    display: none;
}

.title1 {
    font-family: Title1;
}
.title2 {
    font-family: Title2;
    font-size: 0.5em;
}


@font-face {
    font-family: 'Title1';
    src: url('../res/font/PoseiAOE.ttf');
}
@font-face {
    font-family: 'Title2';
    src: url('../res/font/Hacked CRT.ttf');
}

.recommended {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headsetIcon{
    height: 2.5em;
    width: auto;
    margin: 2px;
}


/**/


body{
    margin: 0px;
    color: #00ff80; /*007a3d*/
    overflow: hidden;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                          supported by Chrome and Opera */

    cursor: url('../res/icon/cursor.png'), default;
}
h2{
    margin: 0px;
}

hr {
    border: none;
    border-top: dashed;
    color: #00ff80;
}


.off::before {
    content: '- Offline -';
    font-size: 1.3em;
    margin: 5px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.off .div_event {
    display: none;
}

.off .div_log {
    display: none;
}

.off .div_status {
    display: none;
}

.title{
    margin: 10px;
}

div{
    background-color: #002200 ;
    font-family: "Digital";
}

.broken{
    color: #007a3d;
}

.text-left{
    text-align: left;
}

.div_log, .div_control, .div_event, .div_status {
    margin: 1em;
    margin-top: 0em;
    margin-bottom: 0.5em;
}
.div_control {
    margin-bottom: 0em;
    outline: dashed 1px #00ff80;
    margin: 0px 10px;
    padding: 0px 5px;
}
.div_status {
    margin-bottom: 1em;
}

.sliderLabel{
    float: left;
}

.repairButton {
    position: relative;
    padding: 5px 20px;
    margin-top: -20%;
    background: #002200;
    color: #00ff80;
    cursor: url('../res/icon/cursor_pointer.png'), pointer;
    border: solid 1px #00ff80;
    display: inline-block;
}

.repairButtonMap {
    position: absolute;
    height: 35%;
    width: 100%;
    padding: 0px 0px;
    bottom: 0%;
    font-size: 0.75em;
    border: none;
    outline: solid 1px #00ff80;
    outline-offset: -1px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: url('../res/icon/cursor_pointer.png'), pointer;
}

.mapPlaceHolder{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    height: 100%
}

.repairButton:hover, .repairButtonMap:hover {
    background: #039c50;
    border: solid 1px #6effb7;
    color: #6effb7;
}

.repairButtonMap:hover {
    border: none;
    outline: solid 1px #6effb7;
    outline-offset: -1px;
}

.repairSpinner {
    position: relative;
    width: 20%;
    margin-top: -15%;
    display: inline-block;
}

#logList{
    margin-left: 1em;
    overflow-y: scroll;
    height: 70%;
    width: 95%;
    outline: 1px dashed #00ff80;
}

#eventList{
    margin-left: 1em;
    overflow-y: scroll;
    height: 80%;
    width: 90%;
    outline: 1px dashed #00ff80;
}

#statusList{
    height: 70%;
}


#mapContent{
    background: none;
    position: relative;
    width: 90%;
    height: 75%;
    margin: auto;
}

#hider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    transition: 1s;
}

#gameOverScreen {
    position: absolute;
    z-index: 100;
    top: 10%;
    bottom: 10%;
    left: 10%;
    right: 10%;

    background: #002200;
    border: solid 2px #00ff80;

    text-align: center;
}
#gameOverScreen h1 {
    font-size: 5em;
}

#hider.show {
    background: rgba(0, 0, 0, 0.4);
}

.letClick {
    pointer-events: none;
}



.room{
    position: absolute;
    width: 20%;
    height: 20%;
    outline: 2px solid #00ff80;
    outline-offset: -1px;
}

.mapIcon, .disabledIcon, .repairSpinnerMap{
    width: auto;
    height: 40%;
    margin: 5%;
}
.disabledIcon{
    position: relative;
}


.controlIcon{
    height: 2em;
    width: auto;
    margin: 5px;
}
.controlIcon{
    margin-bottom: -0.6em;
}
.controlContainer{
    margin: 6px;
}

.block-events{
    outline: 2px solid #00ff80;
    float: left;
    width: 20%;
    height: 70%;
    text-align: center;
}

.block-control{
    outline: 2px solid #00ff80;
    float: left;
    width: 20%;
    height: 100%;
    text-align: center;
}

.block-map{
    outline: 2px solid #00ff80;
    float: left;
    width: 60%;
    height: 70%;
    text-align: center;
}

.block-logs{
    outline: 2px solid #00ff80;
    float: left;
    width: 45%;
    height: 30%;
    text-align: center;
}

.block-status{
    outline: 2px solid #00ff80;
    float: left;
    width: 35%;
    height: 30%;
    text-align: center;
}

.block-demiStatus{
    float: left;
    width: 50%;
    height: 80%;
}

.progressBar {
    border: solid #00ff80 1px;
    height: 20px;
    width: 200px;
}
.progressBar .progressBarContent {
    overflow: hidden;
    display: inline-block;
    background: #00ff80;
    height: 20px;
    width: 200px;
    transition: 0.5s;
}
